---
layout: layouts/base.njk
---
<h2>{{ title }}</h2>
<h3><time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></h3>
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
<p>{{ content | safe }}</p>
